---
layout: default
---

<div class="page-header">
    <h1>Coding Standards for Magento</h1>
    <div class="buttons-group">
        <a href="/php.html" class="button-element button-outline">PHP</a>
        <a href="/js.html" class="button-element button-outline">JS</a>
        <a href="/css.html" class="button-element button-outline">CSS</a>
        <a href="/magento.html" class="button-element button-outline">Magento</a>
        <a href="/tools.html" class="button-element button-outline">Tools</a>
    </div>
</div>

<section class="blog">
    <nav class="articles-listing">
      <h2>JS</h2>
      <ul class="articles-listing-list">
        {% for post in site.categories.js reversed %}
          <li {% if post.isChild %}class="child"{% endif %}>
            <a href="#{{ post.permalink }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
      <h2>CSS</h2>
      <ul class="articles-listing-list">
        {% for post in site.categories.css reversed %}
          <li {% if post.isChild %}class="child"{% endif %}>
            <a href="#{{ post.permalink }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
      <h2>PHP</h2>
      <ul class="articles-listing-list">
        {% for post in site.categories.php reversed %}
          <li {% if post.isChild %}class="child"{% endif %}>
            <a href="#{{ post.permalink }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
      <h2>Magento</h2>
      <ul class="articles-listing-list">
        {% for post in site.categories.magento reversed %}
        <li {% if post.isChild %}class="child"{% endif %}>
          <a href="#{{ post.permalink }}">{{ post.title }}</a>
        </li>
        {% endfor %}
      </ul>
      <h2>Tools</h2>
      <ul class="articles-listing-list">
        {% for post in site.categories.tools reversed %}
          <li {% if post.isChild %}class="child"{% endif %}>
            <a href="#{{ post.permalink }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>

    <article class="blog-article">
      {% for post in site.categories.js reversed %}
        <section class="blog-article-section">
          {% if post.isChild %}
            <h2 class="blog-article-subtitle" id="{{ post.permalink }}">{{ post.title }}</h2>
          {% else %}
            <h1 class="blog-article-title" id="{{ post.permalink }}">{{ post.title }}</h1>
          {% endif %}

          {{ post.content }}

          {% if post.isChild %}
          <p>
            <a href="#">Back to top</a>
          </p>
          {% endif %}
        </section>
      {% endfor %}    

      {% for post in site.categories.css reversed %}
        <section class="blog-article-section">
          {% if post.isChild %}
            <h2 class="blog-article-subtitle" id="{{ post.permalink }}">{{ post.title }}</h2>
          {% else %}
            <h1 class="blog-article-title" id="{{ post.permalink }}">{{ post.title }}</h1>
          {% endif %}

          {{ post.content }}

          {% if post.isChild %}
          <p>
            <a href="#">Back to top</a>
          </p>
          {% endif %}
        </section>
      {% endfor %}    

      {% for post in site.categories.php reversed %}
        <section class="blog-article-section">
          {% if post.isChild %}
            <h2 class="blog-article-subtitle" id="{{ post.permalink }}">{{ post.title }}</h2>
          {% else %}
            <h1 class="blog-article-title" id="{{ post.permalink }}">{{ post.title }}</h1>
          {% endif %}

          {{ post.content }}

          {% if post.isChild %}
          <p>
            <a href="#">Back to top</a>
          </p>
          {% endif %}
        </section>
      {% endfor %}

      {% for post in site.categories.magento reversed %}
      <section class="blog-article-section">
        {% if post.isChild %}
        <h2 class="blog-article-subtitle" id="{{ post.permalink }}">{{ post.title }}</h2>
        {% else %}
        <h1 class="blog-article-title" id="{{ post.permalink }}">{{ post.title }}</h1>
        {% endif %}

        {{ post.content }}

        {% if post.isChild %}
        <p>
          <a href="#">Back to top</a>
        </p>
        {% endif %}
      </section>
      {% endfor %}

      {% for post in site.categories.tools reversed %}
        <section class="blog-article-section">
          {% if post.isChild %}
            <h2 class="blog-article-subtitle" id="{{ post.permalink }}">{{ post.title }}</h2>
          {% else %}
            <h1 class="blog-article-title" id="{{ post.permalink }}">{{ post.title }}</h1>
          {% endif %}

          {{ post.content }}

          {% if post.isChild %}
          <p>
            <a href="#">Back to top</a>
          </p>
          {% endif %}
        </section>
        {% endfor %}
    </article>

</section>
