// Vertical rhythm settings
// ------------------------------------------------
$base-font-size: 16px;
$base-line-height: 16px;

// Common breakpoints
// ------------------------------------------------

// Colour palette
// ------------------------------------------------
$white: white;
$offWhite: #faf9f5;
$black: black;
$yellow: #ffa800;
$brown: #8e7e5c;
$paleBrown: #c6bead;
$darkBrown: #8f805e;
$beige: #faf7ea;
$paleYellow: #f8f3dd;
$paleWhite: #fbfaf5;
$grey: #f3f2f0;
$lightGrey: #f0eae4;
$softLightGrey: #f3efe9;
$darkGrey: #333;
$shadowGrey: #7d7d7d;
$devilGrey: #666;
$opaqueGrey: #bbb;
$lineGrey: #c2c2c2;
$lineDarkGrey: #d9d9d9;
$greyBrown: #877f6f;
$purple: #a17ec5;
$orange: #f1663f;
$orangeRed: #f1663f;
$yellowOrange: #FBB431;
$ideaYellow: #FDD27E;
$green: #90C48B;
$baseGreen: #97d535;
$red: #f05e35;
$metal: #666;
$metalBlue: #b1b9be;
$bronze: #e8e0d6;
$blue: #5bace4;

$background: #faf7ea;
$line: #dddcd3;
$gradientDarkBrown: #676154;
$gradientBorderBrown: #5c564b;
$gradientBorderGrey: #ebe8d8;
$highlightYellow: #faf2d8;
$rule: #ecebe4;

$primaryHover: #a59471;
$shadow: #d5d5d5;
