@mixin meanbee-logo($borderSize, $smallContainerSize) {
    $logoHeight: ( $smallContainerSize + ($borderSize * 2) ) * 1.5;
    $logoWidth: $logoHeight * 1.4;

    background-color: $white;
    border-radius: 50%;
    border: $borderSize solid $white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    display: block;
    height: $smallContainerSize + ($borderSize * 2);
    margin: 0 auto;
    width: $smallContainerSize + ($borderSize * 2);
    z-index: 1;

    &:before {
        @include linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, 0), $fallback: #f6f3ea);
        border-radius: 50%;
        box-shadow: inset 0 0 1px 2px rgba(0, 0, 0, .08);
        content: "";
        display: block;
        height: $smallContainerSize;
        width: $smallContainerSize;
    }

    &:after {
        background: transparent url(../images/troy.png) no-repeat center;
        background-size: 90%;
        content: "";
        display: block;
        height: $logoHeight;
        position: relative;
        top: - round( $logoHeight - ( $borderSize * 2 ) );
        left: - round( $logoHeight / 2 );
        width: round( $logoWidth );
        z-index: 2;

        @include modular-bp(em(700)) {
            @include hidpi(1.5) {
                background: transparent url(../images/troy@2x.png) no-repeat center;
                background-size: 90%;
            }           
        }
    }
}

.meanbee-logo {
    @include meanbee-logo(3px, 50px);
    @include rem(bottom, -16px);
    left: 0;
    position: absolute;
    right: 0;

    @include modular-bp(em(700)) {
        @include meanbee-logo(3px, 86px);
        left: 0;
        position: absolute;
        right: 0;
    }

    h1 {
        line-height: 0;
        margin: 0;
        text-indent: -9999px;
    }
}

.meanbee-logo-small {
    @include meanbee-logo(3px, 40px);
    left: 0;
    position: absolute;
    right: 0;
    top: -1rem;
}